.footer-container{
    background-color: #575653;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}